/* PortfolioPage.css */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #0d0d0d;
  color: white;
  box-sizing: border-box;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px; 
   backdrop-filter: blur(8px);
  z-index: 1000;
  
}
/* Hamburger icon */
.menu-icon {
  width: 30px;
  height: 22px;
  display: none; /* hidden on desktop */
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.menu-icon div {
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease;
  transform-origin: center;
}

/* Transform into X */
.menu-icon.open div:nth-child(1) {
  transform: rotate(45deg) translate(6px, 7px);
}

.menu-icon.open div:nth-child(2) {
  opacity: 0;
}

.menu-icon.open div:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -7px);
}



.logo {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-links {
  display: flex;
  gap: 50px;
  list-style: none;
}

.nav-links li {
  position: relative;
  cursor: pointer;
  color: #aaa;
  transition: color 0.3s ease;
}

.nav-links li:hover{
  color: white;
}

.nav-links li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 4px;
  background-color: orangered;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
  border-radius: 2px;
}

/* Active state instead of hover */
.nav-links li.active {
  color: white;
}

.nav-links li.active::after {
  width: 100%;
}


.skill-heading {
  position: relative;
  cursor: pointer;
  margin-right: 12px;
  color: #818181;
  transition: color 0.3s ease;
}

.skill-heading.active {
  color: white;
  font-weight: bold;
}

.skill-heading::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px; /* distance below text */
  width: 0;
  height: 3px;
  background-color: orangered;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
  border-radius: 2px;
}

.skill-heading.active::after {
  width: 100%;
}

/* Hero Section */
.hero {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 150px 40px 0px 0px;
  height: 80vh;
}
.hero-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hello{
  padding-left: 100px;
  font-size: 2.5rem;
  line-height: 1.2;

}
.hero-text h3{
    font-size: 2rem;
      padding-left: 100px;
}
.underline{
    color: orangered;
    font-size: 1.5rem;
}
.dot {
  color: red;
}

.highlight {
      padding-left: 100px;
  font-size: 2.3rem;
  line-height: 1.2;
  color: white;
}

.buttons {
       padding-left: 100px;
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.btn-primary {
  background: red;
  border: none;
  color: white;
  padding: 12px 30px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.btn-primary:hover {
  background: #e00000;
}

.btn-secondary {
  background: transparent;
  border: 1px solid #666;
  color: white;
  padding: 12px 30px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: border 0.3s ease, color 0.3s ease;
}

.btn-secondary:hover {
  border: 1px solid white;
}
.hero-image{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    cursor: pointer;
}
.hero-image .image-wrapper {
  position: relative;
}

.hero-image img {
  border-radius: 100%;
  width: 300px;
  height: 300px;
  position: relative;
  z-index: 10;
}

.image-glow {
  position: absolute;
  inset: -25px;
  border-radius: 50%;
  background: red;
  opacity: 0.3;
  filter: blur(40px);
}
.hero-box{
  display: grid;
grid-template-columns: repeat(4,1fr);
gap: 5%;
padding-left: 70px;
}
.hero-box-div {
  height: 130px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px rgba(34, 21, 0, 0.952);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.hero-box-div:hover {
  transform: translateY(-8px); 
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.6);
  color: silver;
}

.hero-box-div h3{
  margin: 5px 0px 0px 0px;

}
.hero-box-div h3 i{
 
  color: orangered;

}

.hero-box-div h5{
  margin: 15px 0px 0px 0px;
}

.hero-box-div p{
  margin: 12px 0px 0px 0px;
  font-size: 13px;
  color: silver;
}

/* Skills Section */

#skills{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
/* About Section */
.about-heading{
  text-align: center;
    text-decoration: underline;
  text-decoration-color:orangered ;
  text-underline-offset: 10px;
  text-decoration-thickness: 4px;
  margin-bottom: 20px;
}
.about {
  width: 100%;
  
  padding:20px 0px 100px 0px;
}

.services  {
  display: flex;
  gap: 10px;
  padding-top: 50px;
  width: 50%;
}
/* .service i{
  color: ;
} */
.line{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.linedot{

height: 8px;
width: 8px;
background-color: orangered;
border: solid 1px orangered;
border-radius: 100%;
}
.line1{
  width: 3px;
  height: 70px;
  background-color: orangered;
}

.about-text{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
 gap:10px;
}
.about-text h3 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-decoration: underline;
  text-decoration-color:orangered ;
  text-underline-offset: 10px;
  text-decoration-thickness: 4px;
  padding-top: 10px;
}

.about-text p {
  color: #aaa;
  line-height: 1.6;
  margin-bottom: 30px;
  width: 90%;
    display: block;
    margin: 4px 0;
    text-align: justify;
    font-size: 1rem;
   
    word-break: keep-all;
  
}

.stats {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  
}
.stats div {
  width: 210px;
}

.stats h4 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 10px;
}
.statsicon {
  color: orangered;
}
.stats p {
  font-size: 1.3rem;
  color: #aaa;
  margin: 0px;
}

.about-div{
  margin-bottom: 130px;
  width: 80%;
  padding-top: 50px; 
}

.about-div h1{
  text-align: center;
  margin-top: 0px;
  text-decoration: underline;
  text-decoration-color:orangered ;
  text-underline-offset: 10px;
  text-decoration-thickness: 4px;
  padding-top: 25px;
}

.projects-div{
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:50px;
}


.project-box {
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  border: solid 1px rgba(58, 36, 1, 0.952);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
 transition: border 0.5s ease, box-shadow 0.5s ease;
}

.project-img{
border-radius: 5px;
overflow: hidden;

}
.project-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;  
  transition: transform 0.5s ease;
}

.project-box:hover .project-img img{
  transform: scale(1.05);
}

.project-box:hover{
 border: solid 1.5px rgba(130, 83, 3, 0.952);
 box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}
.project-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.project-description {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 12px;
  line-height: 1.4;
}
.project-links {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.btn {
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 500;
  transition: background 0.3s ease;
}

.btn-code {
  background: #333;
  color: #fff;
  border: solid #333 1px;
}

.btn-code:hover {
  border: solid silver 1px;
  background: #000;
  cursor: pointer;
}

.btn-demo {
  border: solid orangered 1px;
  background: orangered;
  color: #fff;
}

.btn-demo:hover {
  cursor: pointer;
  background: transparent;
  color: orangered;
  border: solid orangered 1px;
}


.Contact-div{
  margin-top: 70px;
  margin-bottom: 20px;
}
.Contact-div h1{
  text-align: center;
   text-decoration: underline;
  text-decoration-color:orangered ;
  text-underline-offset: 10px;
  text-decoration-thickness: 4px;
}
.Contact-div p{
  margin-bottom: 50px;
}
.Contact-div form{
    display: flex;
  flex-direction: column;
  gap: 5px;
}
.Contact-div input{
  margin-bottom: 20px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  background: transparent;
  outline: none;
  color: white;
 border: solid 1px silver;

}
.Contact-div textarea{
  resize: none;
  height: 200px;
    padding: 5px;
  border-radius: 5px;
  background: transparent;
  outline: none;
  color: white;
  border: solid 1px silver;
  margin-bottom: 20px;
}

.Contact-div button {
  background: red;
  border: none;
  color: white;
  padding: 12px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
  width: 130px;
  margin: auto;
  border: solid red 1px;
}

.Contact-div button:hover {
  background: transparent;
  color: orangered;
  border: solid orangered 1px;

}
.Contact-div i {
  font-size: 14px;
}
footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top:solid silver 1px ;
   margin-top: 100px;
}
.copyrigth{
  margin:10px 0px 10px 50px;
  
}
.copyrigth p {
  margin: 0px;
  
}
.socialmedia{
  margin: 10px 30px;
}
.socialmedia i{
margin-right: 5px;
cursor: pointer;
font-size: 1.5rem;
}




.skills-slider {
  width: 100%;
  overflow: hidden;
  padding:50px 0 0 0;
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.slider-row {
  overflow: hidden;
  position: relative;
}

.slider-track {
  display: flex;
  gap: 25px;
  width: max-content;
}

.slider-track span {
  background: #111;
  border: 1px solid #333;
  padding: 10px 20px;
  border-radius: 8px;
  color: #fff;
  font-family: monospace;
  font-size: 1.25rem;
  white-space: nowrap;
  transition: background 0.3s;
}

.slider-track span:hover {
  background: #222;
  cursor: pointer;

}

/* Infinite scroll animations */
@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-30%); }
}

@keyframes scroll-right {
  0% { transform: translateX(-30%); }
  100% { transform: translateX(0); }
}

.row1 .slider-track {
  animation: scroll-left 30s linear infinite;
}

.row2 .slider-track {
  animation: scroll-right 30s linear infinite;
}

/* Pause animation on hover */
.slider-row:hover .slider-track {
  animation-play-state: paused;
}

@media (min-width: 320px) and (max-width: 480px) {
  .portfolio-container{
    overflow: hidden;
  }
  .navbar{
    width: 100%;
    padding: 10px;
   justify-content: space-between;
  }
  

  .menu-icon {
    display: flex;
    margin-right: 25px;
  }

  .nav-links {
    position: absolute;
    top: 40px;
    left: 1;
    right: -4%;
    background: black;
   
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 20px 0;
    display: none;
  }

  .nav-links.show {
    display: flex;
    overflow: hidden;
    width: 100%;
    padding-right: 20px;
  }

  .logo{
    font-size: 1.2rem;
    margin-left: 20px;
  }
  .about {
    grid-template-columns: 1fr;
    text-align: center;
  }
 
  .hero {
    width: 90%;
    flex-direction: column;
    text-align: center;
    height: 100%;
    padding: 90px 0px 0px 0px;
    gap: 50px;
  }
  .hero-div{
    flex-direction: column;
    gap: 50px;
    align-items: center;
    
  }

  .hero-text{
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 85%;
  }
  .hello{
    padding-left: 0px;
    font-size: 1.35rem;
    margin: 0px;
  }
  .highlight{
    padding-left: 45px;
    margin: 0px;
    margin-top: 5px;
    font-size: 1.37rem;
    width: 240px;
  }
  .hero-text h3{
    padding-left: 15px;
    font-size: 1.35rem;
    margin: 0px;

  }
  .buttons{
   margin-top: 15px;
   padding-left: 0px;
   align-self: center;
  }
  .btn-primary{
    padding: 7px 15px;
  }
  .btn-secondary{
    padding: 7px 15px;
  }

  .hero-image{
    width: 250px;
    height: 250px;
   
  }
   .hero-image img{
    width: 250px;
    height: 250px;
  }
  .image-glow {
    left:5px ;
    top: 5px;
    opacity: 0.2;
    width: 100%;
    height: 100%;
  }
.hero-box-div h3{
  font-size: 0.9rem;
}
 .hero-box-div h5{
  font-size: 0.6rem;
 }
 .hero-box-div p{
  font-size: 8px;
 }

.hero-box{
  padding-left: 10px;
  grid-template-columns: repeat(2,1fr);
  gap: 5%;
  margin-top: 10px;
}
.hero-box-div{
  text-align: start;
  height: 100px;
}
#skills{
  
  padding-top: 50px;
  width: 90%;

}
.about-text p{
  font-size: 0.8rem;
}
.stats{
  text-align: center;
  margin-top: 25px;
}
.about-text{
  width: 90%;
  gap: 15px;
  text-align: start;
}
.stats div{
  width: 100%;
}
.about-text h3{
  font-size: 1.7rem;
margin-top: 10px;
}
.about-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0px;
  padding-top: 50px;
  width: 90%;
}
.about-div h1{
  font-size: 1.7rem;
}
.stats h4{
  font-size: 1.3rem;
  margin: 10px 0px 10px 10px;
}
.stats p{
  font-size: 0.5rem;
  margin: 2px 0px 2px 15px;
}
.skills-slider{
  padding-top: 25px;
  gap: 35px;
}
.slider-track span{
  font-size: 1rem;
}
.projects-div{
  grid-template-columns: repeat(1,1fr);
  width: 92%;
  gap: 80px;
}

.Contact-div{
  width: 75%;
  padding: 50px 0px 10px 0px;
  margin-top: 0px;
}
.Contact-div h1 {
  font-size: 1.7rem;
}
.Contact-div p {
  width: 80%;
  margin-bottom: 25px;
  margin-left: 35px;
  line-height: 20px;
  font-size: 0.7rem;
  text-align: center;
}
footer{
  margin-top: 50px;
}
.copyrigth{
  margin-left: 10px;
  margin-top: 10px;
}
.copyrigth p{
  font-size: 0.7rem;
}
.socialmedia{
  margin: 10px;
}
.socialmedia i{
  font-size: 1.25rem;
}
}

@media (min-width: 600px) and (max-width: 768px) {
  .navbar{
    width: 100%;
    padding: 10px 0px;
    justify-content: space-around;
  }
 .nav-links{
  gap: 35px;
 }
  .logo{
    font-size: 1.2rem;
  }
  .about {
    grid-template-columns: 1fr;
    text-align: center;
  }
 
  .hero {
    flex-direction: column;
    text-align: center;
    height: 100%;
    padding: 80px 40px 0px 50px;
    gap: 50px;
  }
  .hero-div{
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }

  .hero-text{
    text-align: start;
    width: 470px;
  }
  .hello{
    padding-left: 0px;
  }
  .highlight{
    padding-left: 75px;
  }
  .hero-text h3{
    padding-left: 20px;

  }
  .buttons{
    margin-top: 40px;
    padding-left: 80px;
  }
.hero-box-div h3{
  font-size: 1rem;
}
 .hero-box-div h5{
  font-size: 0.6rem;
 }
 .hero-box-div p{
  font-size: 9px;
 }
.hero-box{
  padding-left: 25px;
  grid-template-columns: repeat(2,1fr);
  padding-left: 40px;
  gap: 5%;
}
.hero-box-div{
  text-align: start;
}
#skills{
  
  padding-top: 120px;
  width: 90%;

}
.stats{
  width: 80%;
}
.about-text{
  width: 75%;
  gap: 15px;
}
.about-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-top: 80px;
}
.stats h4{
  font-size: 1.5rem;
}
.stats p{
  font-size: 1rem;
}
.projects-div{
  grid-template-columns: repeat(1,1fr);
  width: 92%;
  gap: 80px;
}

.Contact-div{
  padding: 80px 80px 10px 100px;
  margin-top: 0px;
}
.copyrigth{
  margin-left: 20px;
}
.socialmedia{
  margin: 10px 15px;
}
}


@media (min-width: 1080px) and (max-width : 1400px){
  .hero{
    width: 90%;
  }

  .hero-box-div h3{
    font-size: 1rem;
  }
.hero-box-div h5{
  font-size: 0.7rem;
}
.hero-box-div p{
  font-size: 10px;
}

.about-div{
  width: 90%;
}
.projects-div {
  gap: 25px;
}

.project-title{
  font-size: 18px;
}
.project-description{
  font-size: 12px;
}
.hero-box{
  gap: 2.5%;
}

.hero-box-div{
  height: 100px;
}
}
